main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}


.nav-item {
    margin-right: 0;
}

.page-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.page-link > .page-item > .page-link {
    border: 1px solid black;
}